.preview-container {
  min-width: 280px;
  max-width: 320px;
  word-break: break-word;
  height: max-content;
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 2%;
  padding: 5%;
  box-shadow: 20px 22px 20px -1px rgba(0, 0, 0, 0.18);
}

.toDoList-contaner {
  border: 0px;
  display: flex;
  align-items: center;
  clear: both;
  overflow: hidden;
  background-color: white;
  display: flex;
  margin-bottom: 3%;
  border: 0.5px solid gray;
  opacity: 1;
  -webkit-user-drag: element;
  user-select: none;
}
.checkbox {
  display: flex !important;
  align-items: center !important;
}

.edit-container {
  text-align: center;
  margin-top: 5px;
}
